<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn More</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            color: #333;
        }
        
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden; /* Ensure container doesn't stretch with large images */
        }
        
        h1, h2 {
            color: #007bff;
        }

        p {
            margin-bottom: 20px;
            line-height: 1.5;
        }
        
        img {
            max-width: 100%; /* Make the image responsive */
            height: auto;
            float: right; /* Float image to the right */
            margin-left: 20px; /* Add some space between text and image */
            border-radius: 8px;
        }

        .section {
            margin-bottom: 40px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .section h2 {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .section p:last-child {
            margin-bottom: 0;
        } #lon{
            color: rgb(255, 72, 0);
        }
        #lone{
            color: forestgreen;
        }

        @media screen and (max-width: 600px) {
            img {
                float: none; /* Reset float for small screens */
                margin: 0 auto 20px; /* Center image and add space below it */
                display: block;
                 /* Ensure image takes full width */
            }
        }
        img{
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }h3{
            background-color:#007bff;
            color: white;
        }

  
  a {
    text-decoration: none; /* Remove underline */
  }

  /* CSS for the button */
  a button {
    background-color:  #007bff; /* Set button background color */
    color: white; /* Set button text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Adjust button padding */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
  }

  /* Hover effect */
  a button:hover {
    background-color: #19db0f; /* Change background color on hover */
  }

  #app{
    color: #007bff;
    font-size: 1.1rem !important;
    font-weight: 700;
  }

    </style>
  
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2225138889895982"
         crossorigin="anonymous"></script>
</head>
<body>
 <div class="container">
        <h1>Welcome To  YesPatient </h1>
        <div class="section">
            <h2>Story Behind YesPatient</h2>
            <ul>
                <li>
                    <strong>Lifeline for Small Towns and Villages:</strong> YesPatient is not just a platform; it's a lifeline for those residing in small towns and villages where access to healthcare services can be a challenge.
                </li>
                <li>
                    <strong>Government Hospital Dependence:</strong> Imagine living in a small city with a big government hospital, the primary source of medical assistance for miles around. People from nearby villages often travel here seeking treatment.
                </li>
                <li>
                    <strong>Challenges for Villagers:</strong> In many cases, individuals from villages spend their hard-earned money on transportation to reach the hospital, only to find that the doctor they hoped to see is unavailable. This situation, where patients arrive but doctors are absent, is all too common and can be distressing for those in need of medical attention.
                </li>
                <li>
                    <strong>Bridging the Gap:</strong> This is where YesPatient steps in with its mission to bridge the gap between patients and doctors, ensuring that no one's efforts to seek medical care go to waste.
                </li>
                <li>
                    <strong>Remote Doctor Availability Check:</strong> YesPatient provides a ray of hope by offering a platform where users can check the availability of doctors from the comfort of their homes.
                </li>
                <li>
                    <strong>Empowerment and Accessibility:</strong> The theme of YesPatient revolves around empowerment and accessibility. It aims to empower individuals by giving them the ability to make informed decisions about their healthcare without the inconvenience of wasted time and resources.
                </li>
                <li>
                    <strong>Eliminating Uncertainty:</strong> With YesPatient, users can find solace in the knowledge that they can access medical assistance when needed, eliminating the uncertainty and frustration of arriving at a hospital only to find it lacking in essential services.
                </li>
                <li>
                    <strong>Compassion and Efficiency:</strong> YesPatient's theme is rooted in compassion and efficiency, striving to alleviate the burden of healthcare accessibility for those living in underserved areas.
                </li>
                <li>
                    <strong>Seamless Interface:</strong> By providing a seamless interface for users to check doctor availability, YesPatient brings peace of mind to communities where access to healthcare is often fraught with challenges.
                </li>
            </ul>
        </div>
        <div class="section">
            <h2>Why You Nedd YesPatient </h2>
            <p>
                <ul>
                    <li>Efficiency: YesPatient saves you valuable time and resources by allowing you to check the availability of doctors remotely. Instead of making a potentially fruitless journey to a hospital, you can use the platform to ensure that the doctor you need is present before setting out.</li>
                    
                    <li>Empowerment: With YesPatient, you are empowered to make informed decisions about your healthcare. You no longer have to rely on chance or luck when seeking medical assistance. The platform puts control back in your hands, allowing you to plan your healthcare visits more effectively.</li>
                    
                    <li>Accessibility: YesPatient ensures that healthcare services are accessible to everyone, regardless of their location. Whether you live in a remote village or a small city, you can use the platform to find available doctors nearby, reducing the barriers to accessing essential medical care.</li>
                    
                    <li>Peace of Mind: By eliminating the uncertainty and frustration of arriving at a hospital only to find that the doctor you need is unavailable, YesPatient brings peace of mind. You can rest assured knowing that you can access medical assistance when needed, without wasting time and resources.</li>
                    
                    <li>Community Support: YesPatient fosters a sense of community support by addressing the healthcare needs of underserved areas. By providing a seamless interface for checking doctor availability, the platform contributes to the well-being of communities where access to healthcare is often challenging.</li>
                </ul>
               </p>
        </div>
        
    
        
    
     
     <!--   <div class="section" > <a href="/g"> <p id="app">How to apply in Foundation(click!)</p></a></div>-->
    </div>
</body>
</html>